<!DOCTYPE html>
<html>

<head>
  <style>
    .form-group {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-bottom: 10px;
    }

    .form-group label {
      flex: 1;
      max-width: 25%;
      padding-right: 10px;
      text-align: right;
    }

    .form-group input,
    .form-group select {
      flex: 3;
      max-width: 70%;
      padding: 8px;
      border: 1px solid #ccc;
    }

    .custom-center {
      text-align: center;
    }

    textarea {
      width: 100%;
      max-width: 400px;
    }
  </style>
</head>

<body>
  <div>
    <h1 class="mt-8 text-2xl font-extrabold tracking-tight leading-tight custom-center">Registro Paciente</h1>

    <form>
      <div class="form-group">
        <label for="apellido">Apellido:</label>
        <input type="text" id="apellido" name="apellido" [(ngModel)]="paciente.apellido">

        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" [(ngModel)]="paciente.nombre">
      </div>

      <div class="form-group">
        <label for="documento">Documento:</label>
        <input type="text" id="documento" name="documento" [(ngModel)]="paciente.documento">

        <label for="tipodocumento">Tipo de documento:</label>
        <select id="tipodocumento" name="tipodocumento" [(ngModel)]="paciente.tipodocumento">
          <option value="CI">CI</option>
          <option value="Pasaporte">Pasaporte</option>
        </select>
      </div>

      <div class="form-group">
        <label for="fecha">Fecha de nacimiento:</label>
        <input type="date" id="fecha" name="fecha" [(ngModel)]="paciente.fechanacimiento" required>

        <label for="grupo">Grupo Sanguíneo:</label>
        <select id="grupo" name="grupo" [(ngModel)]="paciente.grupo">
          <option value="A+">A+</option>
          <option value="A-">A-</option>
          <option value="B+">B+</option>
          <option value="B-">B-</option>
          <option value="AB+">AB+</option>
          <option value="AB-">AB-</option>
          <option value="O+">O+</option>
          <option value="O-">O-</option>
        </select>

        <label for="genero">Género:</label>
        <div class="radio-group">
          <label>
            <input type="radio" name="genero" value="masculino" [(ngModel)]="paciente.sexo">
            Masculino
          </label>

          <label>
            <input type="radio" name="genero" value="femenino" [(ngModel)]="paciente.sexo">
            Femenino
          </label>
        </div>
      </div>
    </form>

    <form>
      <div class="form-group">
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" [(ngModel)]="paciente.direccion">

        <label for="cp">Cp:</label>
        <input type="text" id="cp" name="cp" [(ngModel)]="paciente.cp">
      </div>

      <div class="form-group">
        <label for="obra">Obra:</label>
        <select id="obra" name="obra" [(ngModel)]="paciente.obra">
          <option value="Galeno">Galeno</option>
          <option value="IOMA">IOMA</option>
          <option value="IOSE">IOSE</option>
          <!-- ... Agrega más opciones aquí ... -->
        </select>

        <label for="afiliado">Afiliado:</label>
        <input type="text" id="afiliado" name="afiliado" [(ngModel)]="paciente.afiliado">
      </div>
    </form>

    <form>
      <div class="form-group">
        <label for="telefono1">Teléfono1:</label>
        <input type="text" id="telefono1" name="telefono1" [(ngModel)]="paciente.telefono1">

        <label for="telefono2">Teléfono2:</label>
        <div class="whatsapp-input">
          <input type="text" id="telefono2" name="telefono2" [(ngModel)]="paciente.telefono2">
          <a class="whatsapp-link" [href]="'https://api.whatsapp.com/send?phone=' + paciente.telefono2" target="_blank">
            <!-- Agrega el ícono de WhatsApp aquí si es necesario -->
          </a>
        </div>

        <label for="telefono3">Teléfono3:</label>
        <input type="text" id="telefono3" name="telefono3" [(ngModel)]="paciente.telefono3">
      </div>
    </form>

    <form>
      <div class="form-group">
        <label for="campoCfg1">CampoCfg1:</label>
        <input type="text" id="campoCfg1" name="campoCfg1" [(ngModel)]="paciente.campoCfg1">

        <label for="campoCfg2">CampoCfg2:</label>
        <input type="text" id="campoCfg2" name="campoCfg2" [(ngModel)]="paciente.campoCfg2">

        <label for="campoCfg3">CampoCfg3:</label>
        <input type="text" id="campoCfg3" name="campoCfg3" [(ngModel)]="paciente.campoCfg3">
      </div>
    </form>

    <form>
      <h1 class="mt-3 text-2xl font-extrabold tracking-tight leading-tight custom-center">Antecedentes</h1>
      <div class="form-group">
        <label for="clinicos">Clínicos:</label>
        <input type="text" id="clinicos" name="clinicos" [(ngModel)]="paciente.clinicos">

        <label for="diagnostico">Diagnóstico:</label>
        <input type="text" id="diagnostico" name="diagnostico" [(ngModel)]="paciente.diagnostico">
      </div>

      <div class="form-group">
        <label for="cormobilidades">Comorbilidades:</label>
        <input type="text" id="cormobilidades" name="cormobilidades" [(ngModel)]="paciente.cormobilidades">

        <label for="familiar">Familiar:</label>
        <input type="text" id="familiar" name="familiar" [(ngModel)]="paciente.familiar">
      </div>
    </form>

    <form>
      <h1 class="mt-3 text-2xl font-extrabold tracking-tight leading-tight custom-center">Clínico</h1>
      <div class="form-group">
        <label for="extra1">Hepatitis:</label>
        <input type="text" id="extra1" name="extra1" [(ngModel)]="paciente.extra1">

        <label for="extra2">Enfermedades Infecciosas:</label>
        <input type="text" id="extra2" name="extra2" [(ngModel)]="paciente.extra2">

        <label for="extra3">Alergias:</label>
        <input type="text" id="extra3" name="extra3" [(ngModel)]="paciente.extra3">
      </div>

      <div class="form-group">
        <label for="extra4">Enfermedades Neurológicas:</label>
        <input type="text" id="extra4" name="extra4" [(ngModel)]="paciente.extra4">

        <label for="extra5">Medicamentos:</label>
        <input type="text" id="extra5" name="extra5" [(ngModel)]="paciente.extra5">

        <label for="extra6">Cardiopatías:</label>
        <input type="text" id="extra6" name="extra6" [(ngModel)]="paciente.extra6">
      </div>

      <div class="form-group">
        <label for="extra7">Diabetes:</label>
        <input type="text" id="extra7" name="extra7" [(ngModel)]="paciente.extra7">

        <label for="extra8">Intervenciones Quirúrgicas:</label>
        <input type="text" id="extra8" name="extra8" [(ngModel)]="paciente.extra8">

        <label for="extra9">Adicciones:</label>
        <input type="text" id="extra9" name="extra9" [(ngModel)]="paciente.extra9">

        <label for="extra10">Otros:</label>
        <input type="text" id="extra10" name="extra10" [(ngModel)]="paciente.extra10">
      </div>
    </form>

    <form>
      <h1 class="mt-3 text-2xl font-extrabold tracking-tight leading-tight custom-center">Comentarios</h1>
      <div class="form-group text-center">
        <textarea id="comentarios" name="comentarios" [(ngModel)]="paciente.comentarios" aria-label="Comentarios"></textarea>
      </div>
    </form>

    <!-- Considera cómo quieres manejar el evento de actualización de datos aquí -->
    <button mat-raised-button color="accent" (click)="actualizarPaciente()">Actualizar</button>

  </div>

</body>

</html>
