 <!DOCTYPE html>
<html>
<head>
    <title>Formulario y Tabla</title>
    <style>
   
    </style>
</head>
<body>
  <h1 class="mt-8 text-4xl font-extrabold tracking-tight leading-tight"> Registro Historias</h1>
<form>
  <label for="fecha">Fecha :</label>
  <input type="date" id="fecha" name="fecha" [(ngModel)]="historias.fecha"><br>

<label for="nota">Nota:</label>
<input type="text" id="nota" name="nota" [(ngModel)]="historias.nota"><br>

<label for="firma">Firma:</label>
<input type="text" id="firma" name="firma" [(ngModel)]="historias.firma"><br>


<button mat-raised-button color="accent"(click)="registrarPersona()">Registrar</button>

</form>

  <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64 mt-15" [subscriptSizing]="'dynamic'">
    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
    <input matInput (keyup)="applyFilter($event)" [placeholder]="'Buscar registros'" #input>
  </mat-form-field>
  <div style="overflow: auto; height: 300px;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="idHistoria">
      <th mat-header-cell *matHeaderCellDef> ID Historia </th>
      <td mat-cell *matCellDef="let registro"> {{registro.idHistoria}} </td>
    </ng-container>

    <!-- Cédula Column -->
    <ng-container matColumnDef="idPaciente">
      <th mat-header-cell *matHeaderCellDef> ID Paciente </th>
      <td mat-cell *matCellDef="let registro"> {{registro.idPaciente}} </td>
    </ng-container>
  <!-- Primer Nombre Column -->
  <ng-container matColumnDef="fecha">
    <th mat-header-cell *matHeaderCellDef> Fecha </th>
    <td mat-cell *matCellDef="let registro"> {{registro.fecha}} </td>
  </ng-container>

  <!-- Segundo Nombre Column -->
  <ng-container matColumnDef="nota">
    <th mat-header-cell *matHeaderCellDef> Nota </th>
    <td mat-cell *matCellDef="let registro"> {{registro.nota}} </td>
  </ng-container>

  <!-- Primer Apellido Column -->
  <ng-container matColumnDef="idAutor">
    <th mat-header-cell *matHeaderCellDef> ID Autor </th>
    <td mat-cell *matCellDef="let registro"> {{registro.idAutor}} </td>
  </ng-container>

  <!-- Segundo Apellido Column -->
  <ng-container matColumnDef="firma">
    <th mat-header-cell *matHeaderCellDef> Firma </th>
    <td mat-cell *matCellDef="let registro"> {{registro.firma}} </td>
  </ng-container>



  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let registro; columns: displayedColumns;"></tr>

  <tbody>
        <tr *ngFor="let registro of registros">
            <td>{{ registro.idHistoria }}</td>
            <td>{{ registro.idPaciente }}</td>
            <td>{{ registro.fecha}}</td>
            <td>{{ registro.nota }}</td>
            <td>{{ registro.idAutor }}</td>
            <td>{{ registro.firma }}</td>
          
        </tr>
    </tbody>
  
</table>
</div>
    
</body>
</html> 
