<!DOCTYPE html>
<html>
<head>
   
    <style>
   
    </style>
</head>
<body>
  <h1 class="mt-8 text-4xl font-extrabold tracking-tight leading-tight"> Registro Vademecum</h1>
<form>
  <label for="compartido">Compartido:</label>
<input type="text" id="compartido" name="compartido" [(ngModel)]="vademecums.compartido"><br>

<label for="laboratorio">Laboratorio:</label>
<input type="text" id="laboratorio" name="laboratorio" [(ngModel)]="vademecums.laboratorio"><br>

<label for="medicamento">Medicamento:</label>
<input type="text" id="medicamento" name="medicamento" [(ngModel)]="vademecums.medicamento"><br>

<label for="composicion">Composicion:</label>
<input type="text" id="composicion" name="composicion" [(ngModel)]="vademecums.composicion"><br>

<label for="indicaciones">Indicaciones:</label>
<input type="text" id="indicaciones" name="indicaciones" [(ngModel)]="vademecums.indicaciones"><br>


<label for="contraindicaciones">Contraindicaciones:</label>
<input type="text" id="contraindicaciones" name="contraindicaciones" [(ngModel)]="vademecums.contraindicaciones"><br>

<label for="posologia">Posologia:</label>
<input type="text" id="posologia" name="posologia" [(ngModel)]="vademecums.posologia"><br>

<label for="equivalencias">Equivalencias:</label>
<input type="text" id="equivalencias" name="equivalencias" [(ngModel)]="vademecums.equivalencias"><br>

<label for="anotaciones">Anotaciones:</label>
<textarea id="anotaciones" name="anotaciones" [(ngModel)]="vademecums.anotaciones"></textarea><br>

<label for="stock">Stock:</label>
<input type="text" id="stock" name="stock" [(ngModel)]="vademecums.stock"><br>

<button mat-raised-button color="accent"(click)="registrarPersona()">Registrar</button>

</form>

  <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64 mt-15" [subscriptSizing]="'dynamic'">
    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
    <input matInput (keyup)="applyFilter($event)" [placeholder]="'Buscar registros'" #input>
  </mat-form-field>
  <div style="overflow: auto; height: 300px;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID Vadecum </th>
      <td mat-cell *matCellDef="let registro"> {{registro.id}} </td>
    </ng-container>

    <!-- Cédula Column -->
    <ng-container matColumnDef="idDoctor">
      <th mat-header-cell *matHeaderCellDef> Id Doctor </th>
      <td mat-cell *matCellDef="let registro"> {{registro.idDoctor}} </td>
    </ng-container>
  <!-- Primer Nombre Column -->
  <ng-container matColumnDef="compartido">
    <th mat-header-cell *matHeaderCellDef> Compartido </th>
    <td mat-cell *matCellDef="let registro"> {{registro.compartido}} </td>
  </ng-container>

  <!-- Segundo Nombre Column -->
  <ng-container matColumnDef="laboratorio">
    <th mat-header-cell *matHeaderCellDef> Laboratorio </th>
    <td mat-cell *matCellDef="let registro"> {{registro.laboratorio}} </td>
  </ng-container>

  <!-- Primer Apellido Column -->
  <ng-container matColumnDef="medicamento">
    <th mat-header-cell *matHeaderCellDef> Medicamento </th>
    <td mat-cell *matCellDef="let registro"> {{registro.medicamento}} </td>
  </ng-container>

  <!-- Segundo Apellido Column -->
  <ng-container matColumnDef="composicion">
    <th mat-header-cell *matHeaderCellDef> Composicion</th>
    <td mat-cell *matCellDef="let registro"> {{registro.composicion}} </td>
  </ng-container>

  <!-- Género Column -->
  <ng-container matColumnDef="indicaciones">
    <th mat-header-cell *matHeaderCellDef> Indicaciones </th>
    <td mat-cell *matCellDef="let registro"> {{registro.indicaciones}} </td>
  </ng-container>

  <!-- Fecha de Nacimiento Column -->
  <ng-container matColumnDef="contraindicaciones">
    <th mat-header-cell *matHeaderCellDef> Contraindicaciones </th>
    <td mat-cell *matCellDef="let registro"> {{registro.contraindicaciones}} </td>
  </ng-container>

  <!-- Correo Column -->
  <ng-container matColumnDef="posologia">
    <th mat-header-cell *matHeaderCellDef> Posologia </th>
    <td mat-cell *matCellDef="let registro"> {{registro.posologia}} </td>
  </ng-container>

  <!-- Dirección Column -->
  <ng-container matColumnDef="idCategoria">
    <th mat-header-cell *matHeaderCellDef> ID Categoria </th>
    <td mat-cell *matCellDef="let registro"> {{registro.idCategoria}} </td>
  </ng-container>

  <!-- Teléfono Column -->
  <ng-container matColumnDef="equivalencias">
    <th mat-header-cell *matHeaderCellDef> Equivalencias </th>
    <td mat-cell *matCellDef="let registro"> {{registro.equivalencias}} </td>
  </ng-container>

  <ng-container matColumnDef="anotaciones">
    <th mat-header-cell *matHeaderCellDef> Anotaciones  </th>
    <td mat-cell *matCellDef="let registro">
      <button mat-button color="primary" (click)="abrirDialog(registro.anotaciones)">Ver</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="stock">
    <th mat-header-cell *matHeaderCellDef> Stock </th>
    <td mat-cell *matCellDef="let registro"> {{registro.stock}} </td>
  </ng-container>
  
  <ng-container matColumnDef="editar">
    <th mat-header-cell *matHeaderCellDef> Editar </th>
    <td mat-cell *matCellDef="let registro">
      <button mat-button color="primary" (click)="cargarDatosEnFormulario(registro)">Editar</button>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let registro; columns: displayedColumns;"></tr>

  <tbody>
        <tr *ngFor="let registro of registros">
            <td>{{ registro.id }}</td>
            <td>{{ registro.idDoctor }}</td>
            <td>{{ registro.compartido}}</td>
            <td>{{ registro.laboratorio }}</td>
            <td>{{ registro.medicamento }}</td>
            <td>{{ registro.composicion }}</td>
            <td>{{ registro.indicaciones }}</td>
            <td>{{ registro.contraindicaciones }}</td>
            <td>{{ registro.indicaciones }}</td>
            <td>{{ registro.posologia }}</td>
            <td>{{ registro.equivalencias }}</td>
            <td>{{ registro.anotaciones }}</td>
            <td>{{ registro.stock }}</td>
            
        </tr>
    </tbody>
  
</table>
</div>
    
</body>
</html> 
