 <!DOCTYPE html>
<html>
<head>
   
    <style>
   
    </style>
</head>
<body>
  <h1 class="mt-8 text-4xl font-extrabold tracking-tight leading-tight"> Registro Paciente</h1>
<form>
  <label for="apellido">Apellido:</label>
<input type="text" id="apellido" name="apellido" [(ngModel)]="paciente.apellido"><br>

<label for="nombre">Nombre:</label>
<input type="text" id="nombre" name="nombre" [(ngModel)]="paciente.nombre"><br>

<label for="documento">Documento:</label>
<input type="text" id="documento" name="documento" [(ngModel)]="paciente.documento"><br>

<label for="fechaNacimiento">Fecha de Nacimiento:</label>
<input type="date" id="fechaNacimiento" name="fechaNacimiento" [(ngModel)]="paciente.fechanacimiento"><br>

<label for="grupo">Grupo:</label>
<input type="text" id="grupo" name="grupo" [(ngModel)]="paciente.grupo"><br>

<label for="sexo">Genero:</label>
<select id="sexo" name="sexo" [(ngModel)]="paciente.sexo">
  <option value="masculino">Masculino</option>
  <option value="femenino">Femenino</option>
</select><br>


<label for="direccion">Dirección:</label>
<input type="text" id="direccion" name="direccion" [(ngModel)]="paciente.direccion"><br>



<label for="cp">Cp:</label>
<input type="text" id="cp" name="cp" [(ngModel)]="paciente.cp"><br>


<label for="obra">Obra:</label>
<input type="text" id="obra" name="obra" [(ngModel)]="paciente.obra"><br>

<label for="afiliado">Afiliado:</label>
<input type="text" id="afiliado" name="afiliado" [(ngModel)]="paciente.afiliado"><br>

<label for="correo">Correo:</label>
<input type="text" id="correo" name="correo" [(ngModel)]="paciente.correo"><br>

<label for="telefono1">Teléfono1:</label>
<input type="text" id="telefono1" name="telefono1" [(ngModel)]="paciente.telefono1"><br>

<label for="telefono2">Teléfono2:</label>
<input type="text" id="telefono2" name="telefono2" [(ngModel)]="paciente.telefono2"><br>

<label for="telefono3">Teléfono3:</label>
<input type="text" id="telefono3" name="telefono3" [(ngModel)]="paciente.telefono3"><br>

<label for="clinicos">Clinicos:</label>
<input type="text" id="clinicos" name="clinicos" [(ngModel)]="paciente.clinicos"><br>

<label for="diagnostico">Diagnostico:</label>
<input type="text" id="diagnostico" name="diagnostico" [(ngModel)]="paciente.diagnostico"><br>

<label for="cormobilidades">Cormobilidades:</label>
<input type="text" id="cormobilidades" name="cormobilidades" [(ngModel)]="paciente.cormobilidades"><br>

<label for="familiar">Familiar:</label>
<input type="text" id="familiar" name="familiar" [(ngModel)]="paciente.familiar"><br>

<label for="comentarios">Comentarios:</label>
<input type="text" id="comentarios" name="comentarios" [(ngModel)]="paciente.comentarios"><br>

<label for="extra1">Extra1:</label>
<input type="text" id="extra1" name="extra1" [(ngModel)]="paciente.extra1"><br>

<label for="extra2">Extra2:</label>
<input type="text" id="extra2" name="extra2" [(ngModel)]="paciente.extra2"><br>

<label for="extra3">Extra3:</label>
<input type="text" id="extra3" name="extra3" [(ngModel)]="paciente.extra3"><br>

<label for="extra4">Extra4:</label>
<input type="text" id="extra4" name="extra4" [(ngModel)]="paciente.extra4"><br>

<label for="extra5">Extra5:</label>
<input type="text" id="extra5" name="extra5" [(ngModel)]="paciente.extra5"><br>

<label for="extra6">Extra6:</label>
<input type="text" id="extra6" name="extra6" [(ngModel)]="paciente.extra6"><br>

<label for="extra7">Extra7:</label>
<input type="text" id="extra7" name="extra7" [(ngModel)]="paciente.extra7"><br>

<label for="extra8">Extra8:</label>
<input type="text" id="extra8" name="extra8" [(ngModel)]="paciente.extra8"><br>

<label for="extra9">Extra9:</label>
<input type="text" id="extra9" name="extra9" [(ngModel)]="paciente.extra9"><br>

<label for="extra10">Extra10:</label>
<input type="text" id="extra10" name="extra10" [(ngModel)]="paciente.extra10"><br>


<label for="campoCfg1">CampoCfg1:</label>
<input type="text" id="campoCfg1" name="campoCfg1" [(ngModel)]="paciente.campoCfg1"><br>

<label for="campoCfg2">CampoCfg2:</label>
<input type="text" id="campoCfg2" name="campoCfg2" [(ngModel)]="paciente.campoCfg2"><br>

<label for="campoCfg3">CampoCfg3:</label>
<input type="text" id="campoCfg3" name="campoCfg3" [(ngModel)]="paciente.campoCfg3"><br>


<label for="tipodocumento">Tipo de documento:</label>
<select id="tipodocumento" name="tipodocumento" [(ngModel)]="paciente.tipodocumento">
  <option value="CI">CI</option>
  <option value="Pasaporte">Pasaporte</option>
</select><br>


<label for="abrir">Abrir:</label>
<input type="text" id="abrir" name="abrir" [(ngModel)]="paciente.abrir"><br>

<label for="field">Field:</label>
<input type="text" id="field" name="field" [(ngModel)]="paciente.field"><br>


<button mat-raised-button color="accent"(click)="registrarPersona()">Registrar</button>

</form>

  <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64 mt-15" [subscriptSizing]="'dynamic'">
    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
    <input matInput (keyup)="applyFilter($event)" [placeholder]="'Buscar registros'" #input>
  </mat-form-field>
  <div style="overflow: auto; height: 300px;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="idPaciente">
      <th mat-header-cell *matHeaderCellDef> ID Paciente</th>
      <td mat-cell *matCellDef="let registro"> {{registro.idPaciente}} </td>
    </ng-container>

    <ng-container matColumnDef="idRol">
      <th mat-header-cell *matHeaderCellDef> ID Rol</th>
      <td mat-cell *matCellDef="let registro"> {{registro.idRol}} </td>
    </ng-container>

    <ng-container matColumnDef="apellido">
      <th mat-header-cell *matHeaderCellDef> Apellido </th>
      <td mat-cell *matCellDef="let registro"> {{registro.apellido}} </td>
    </ng-container>

    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let registro"> {{registro.nombre}} </td>
    </ng-container>

    <ng-container matColumnDef="documento">
      <th mat-header-cell *matHeaderCellDef> Documento </th>
      <td mat-cell *matCellDef="let registro"> {{registro.documento}} </td>
    </ng-container>

    <ng-container matColumnDef="fechanacimiento">
      <th mat-header-cell *matHeaderCellDef> Fecha de nacimiento </th>
      <td mat-cell *matCellDef="let registro"> {{registro.fechanacimiento}} </td>
    </ng-container>

    <ng-container matColumnDef="grupo">
      <th mat-header-cell *matHeaderCellDef> Grupo </th>
      <td mat-cell *matCellDef="let registro"> {{registro.grupo}} </td>
    </ng-container>

    <ng-container matColumnDef="sexo">
      <th mat-header-cell *matHeaderCellDef> Genero </th>
      <td mat-cell *matCellDef="let registro"> {{registro.sexo}} </td>
    </ng-container>

    <ng-container matColumnDef="direccion">
      <th mat-header-cell *matHeaderCellDef> Direccion </th>
      <td mat-cell *matCellDef="let registro"> {{registro.direccion}} </td>
    </ng-container>

    <ng-container matColumnDef="cp">
      <th mat-header-cell *matHeaderCellDef> Cp </th>
      <td mat-cell *matCellDef="let registro"> {{registro.cp}} </td>
    </ng-container>

    <ng-container matColumnDef="obra">
      <th mat-header-cell *matHeaderCellDef> Obra </th>
      <td mat-cell *matCellDef="let registro"> {{registro.obra}} </td>
    </ng-container>


    <ng-container matColumnDef="afiliado">
      <th mat-header-cell *matHeaderCellDef> Afiliado </th>
      <td mat-cell *matCellDef="let registro"> {{registro.afiliado}} </td>
    </ng-container>

    <ng-container matColumnDef="correo">
      <th mat-header-cell *matHeaderCellDef> Correo </th>
      <td mat-cell *matCellDef="let registro"> {{registro.correo}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono1">
      <th mat-header-cell *matHeaderCellDef> Telefono1 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.telefono1}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono2">
      <th mat-header-cell *matHeaderCellDef> Telefono2 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.telefono2}} </td>
    </ng-container>

    <ng-container matColumnDef="telefono3">
      <th mat-header-cell *matHeaderCellDef> Telefono3 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.telefono3}} </td>
    </ng-container>

    <ng-container matColumnDef="clinicos">
      <th mat-header-cell *matHeaderCellDef> Clinicos </th>
      <td mat-cell *matCellDef="let registro"> {{registro.clinicos}} </td>
    </ng-container>

    <ng-container matColumnDef="diagnostico">
      <th mat-header-cell *matHeaderCellDef> Diagnostico </th>
      <td mat-cell *matCellDef="let registro"> {{registro.diagnostico}} </td>
    </ng-container>

    <ng-container matColumnDef="cormobilidades">
      <th mat-header-cell *matHeaderCellDef> Cormobilidades </th>
      <td mat-cell *matCellDef="let registro"> {{registro.cormobilidades}} </td>
    </ng-container>

    <ng-container matColumnDef="familiar">
      <th mat-header-cell *matHeaderCellDef> Familiar </th>
      <td mat-cell *matCellDef="let registro"> {{registro.familiar}} </td>
    </ng-container>

    <ng-container matColumnDef="comentarios">
      <th mat-header-cell *matHeaderCellDef> Comentarios </th>
      <td mat-cell *matCellDef="let registro"> {{registro.comentarios}} </td>
    </ng-container>

    <!-- Cédula Column -->
    <ng-container matColumnDef="extra1">
      <th mat-header-cell *matHeaderCellDef> Extra1 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.extra1}} </td>
    </ng-container>

    <ng-container matColumnDef="extra2">
      <th mat-header-cell *matHeaderCellDef> Extra2 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.extra2}} </td>
    </ng-container>

    <ng-container matColumnDef="extra3">
      <th mat-header-cell *matHeaderCellDef> Extra3 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.extra3}} </td>
    </ng-container>

    <ng-container matColumnDef="extra4">
      <th mat-header-cell *matHeaderCellDef> Extra4 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.extra4}} </td>
    </ng-container>

    <ng-container matColumnDef="extra5">
      <th mat-header-cell *matHeaderCellDef> Extra5 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.extra5}} </td>
    </ng-container>

    <ng-container matColumnDef="extra6">
      <th mat-header-cell *matHeaderCellDef> Extra6 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.extra6}} </td>
    </ng-container>

    <ng-container matColumnDef="extra7">
      <th mat-header-cell *matHeaderCellDef> Extra7 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.extra7}} </td>
    </ng-container>

    <ng-container matColumnDef="extra8">
      <th mat-header-cell *matHeaderCellDef> Extra8 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.extra8}} </td>
    </ng-container>

    <ng-container matColumnDef="extra9">
      <th mat-header-cell *matHeaderCellDef> Extra9 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.extra9}} </td>
    </ng-container>

    <ng-container matColumnDef="extra10">
      <th mat-header-cell *matHeaderCellDef> Extra10 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.extra10}} </td>
    </ng-container>

    <ng-container matColumnDef="idDoctor">
      <th mat-header-cell *matHeaderCellDef> Id Doctor </th>
      <td mat-cell *matCellDef="let registro"> {{registro.idDoctor}} </td>
    </ng-container>

    <ng-container matColumnDef="campoCfg1">
      <th mat-header-cell *matHeaderCellDef> CampoCfg1 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.campoCfg1}} </td>
    </ng-container>

    <ng-container matColumnDef="campoCfg2">
      <th mat-header-cell *matHeaderCellDef> CampoCfg2 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.campoCfg2}} </td>
    </ng-container>

    <ng-container matColumnDef="campoCfg3">
      <th mat-header-cell *matHeaderCellDef> CampoCfg3 </th>
      <td mat-cell *matCellDef="let registro"> {{registro.campoCfg3}} </td>
    </ng-container>


    <ng-container matColumnDef="tipodocumento">
      <th mat-header-cell *matHeaderCellDef> Tipo de documento </th>
      <td mat-cell *matCellDef="let registro"> {{registro.tipodocumento}} </td>
    </ng-container>

    <ng-container matColumnDef="abrir">
      <th mat-header-cell *matHeaderCellDef> Abrir </th>
      <td mat-cell *matCellDef="let registro"> {{registro.abrir}} </td>
    </ng-container>

    <ng-container matColumnDef="field">
      <th mat-header-cell *matHeaderCellDef> Field </th>
      <td mat-cell *matCellDef="let registro"> {{registro.field}} </td>
    </ng-container>
  

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let registro; columns: displayedColumns;"></tr>

  <tbody>
        <tr *ngFor="let registro of registros">
            <td>{{ registro.idPaciente }}</td>
            <td>{{ registro.idRol }}</td>
            <td>{{ registro.apellido}}</td>
            <td>{{ registro.nombre }}</td>
            <td>{{ registro.documento }}</td>
            <td>{{ registro.fechanacimiento }}</td>
            <td>{{ registro.grupo }}</td>
            <td>{{ registro.sexo }}</td>
            <td>{{ registro.direccion }}</td>
            <td>{{ registro.cp }}</td>
            <td>{{ registro.obra }}</td>
            <td>{{ registro.afiliado}}</td>
            <td>{{ registro.correo }}</td>
            <td>{{ registro.telefono1 }}</td>
            <td>{{ registro.telefono2 }}</td>
            <td>{{ registro.telefono3 }}</td>
            <td>{{ registro.clinicos }}</td>
            <td>{{ registro.diagnostico }}</td>
            <td>{{ registro.cormobilidades }}</td>
            <td>{{ registro.familiar }}</td>
            <td>{{ registro.comentarios}}</td>
            <td>{{ registro.extra1 }}</td>
            <td>{{ registro.extra2 }}</td>
            <td>{{ registro.extra3 }}</td>
            <td>{{ registro.extra4 }}</td>
            <td>{{ registro.extra5 }}</td>
            <td>{{ registro.extra6 }}</td>
            <td>{{ registro.extra7 }}</td>
            <td>{{ registro.extra8 }}</td>
            <td>{{ registro.extra9}}</td>
            <td>{{ registro.extra10 }}</td>
            <td>{{ registro.idDoctor}}</td>
            <td>{{ registro.campoCfg1 }}</td>
            <td>{{ registro.campoCfg2 }}</td>
            <td>{{ registro.campoCfg3 }}</td>
            <td>{{ registro.tipodocumento }}</td>
            <td>{{ registro.abrir }}</td>
            <td>{{ registro.field }}</td>
            

        </tr>
    </tbody>
  
</table>
</div>
    
</body>
</html> 
