 <!DOCTYPE html>
<html>
<head>
    <title>Formulario y Tabla</title>
    <style>
   
    </style>
</head>
<body>
    <h1>Formulario de Doctor</h1>
<form>

<label for="nombre"> Nombre:</label>
<input type="text" id="nombre" name="nombre" [(ngModel)]="doctor.nombre"><br>

<label for="clavesecreta">Clavesecreta:</label>
<input type="text" id="clavesecreta" name="clavesecreta" [(ngModel)]="doctor.clavesecreta"><br>

<label for="comentarios">Comentarios:</label>
<input type="text" id="comentarios" name="comentarios" [(ngModel)]="doctor.comentarios"><br>

<label for="direccion">Direccion:</label>
<input type="text" id="direccion" name="direccion" [(ngModel)]="doctor.direccion"><br>


<label for="especialidad">Especialidad:</label>
<input type="text" id="especialidad" name="especialidad" [(ngModel)]="doctor.especialidad"><br>

<label for="telefono">Telefono:</label>
<input type="text" id="telefono" name="telefono" [(ngModel)]="doctor.telefono"><br>

<label for="clave">Clave:</label>
<input type="text" id="clave" name="clave" [(ngModel)]="doctor.clave"><br>

<label for="notaAuto">Nota Auto:</label>
<input type="text" id="notaAuto" name="notaAuto" [(ngModel)]="doctor.notaAuto"><br>

<label for="nota">Nota:</label>
<input type="text" id="nota" name="nota" [(ngModel)]="doctor.nota"><br>



<label for="comparte">Comparte:</label>
<input type="text" id="comparte" name="comparte" [(ngModel)]="doctor.comparte"><br>

<label for="cfg">Cfg:</label>
<input type="text" id="cfg" name="direcfgcion" [(ngModel)]="doctor.cfg"><br>

<label for="cfgsec">Cfgsec:</label>
<input type="text" id="cfgsec" name="cfgsec" [(ngModel)]="doctor.cfgsec"><br>

<label for="email">Email:</label>
<input type="text" id="email" name="email" [(ngModel)]="doctor.email"><br>

<label for="extraAsister">Extr aAsister:</label>
<input type="text" id="extraAsister" name="extraAsister" [(ngModel)]="doctor.extraAsister"><br>

<label for="field">Field:</label>
<input type="text" id="field" name="field" [(ngModel)]="doctor.field"><br>

<button mat-raised-button color="accent"(click)="registrarPersona()">Registrar</button>

</form>

  <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64 mt-15" [subscriptSizing]="'dynamic'">
    <mat-icon class="icon-size-5" matPrefix [svgIcon]="'heroicons_solid:magnifying-glass'"></mat-icon>
    <input matInput (keyup)="applyFilter($event)" [placeholder]="'Buscar registros'" #input>
  </mat-form-field>
  <div style="overflow: auto; height: 300px;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- ID Column -->
    <ng-container matColumnDef="idDoctor">
      <th mat-header-cell *matHeaderCellDef> ID Doctor </th>
      <td mat-cell *matCellDef="let registro"> {{registro.idDoctor}} </td>
    </ng-container>

    <!-- Cédula Column -->
    <ng-container matColumnDef="idRol">
      <th mat-header-cell *matHeaderCellDef> ID Rol </th>
      <td mat-cell *matCellDef="let registro"> {{registro.idRol}} </td>
    </ng-container>
  <!-- Primer Nombre Column -->
  <ng-container matColumnDef="nombre">
    <th mat-header-cell *matHeaderCellDef> Nombre </th>
    <td mat-cell *matCellDef="let registro"> {{registro.nombre}} </td>
  </ng-container>

  <!-- Segundo Nombre Column -->
  <ng-container matColumnDef="clavesecreta">
    <th mat-header-cell *matHeaderCellDef> Clave secreta </th>
    <td mat-cell *matCellDef="let registro"> {{registro.clavesecreta}} </td>
  </ng-container>

  <!-- Primer Apellido Column -->
  <ng-container matColumnDef="comentarios">
    <th mat-header-cell *matHeaderCellDef> Comentarioso </th>
    <td mat-cell *matCellDef="let registro"> {{registro.comentarios}} </td>
  </ng-container>

  <!-- Segundo Apellido Column -->
  <ng-container matColumnDef="direccion">
    <th mat-header-cell *matHeaderCellDef> direccion </th>
    <td mat-cell *matCellDef="let registro"> {{registro.direccion}} </td>
  </ng-container>

  <!-- Género Column -->
  <ng-container matColumnDef="especialidad">
    <th mat-header-cell *matHeaderCellDef> Especialidad </th>
    <td mat-cell *matCellDef="let registro"> {{registro.especialidad}} </td>
  </ng-container>

  <!-- Fecha de Nacimiento Column -->
  <ng-container matColumnDef="telefono">
    <th mat-header-cell *matHeaderCellDef> Telefono </th>
    <td mat-cell *matCellDef="let registro"> {{registro.telefono}} </td>
  </ng-container>

  <!-- Correo Column -->
  <ng-container matColumnDef="clave">
    <th mat-header-cell *matHeaderCellDef> Clave </th>
    <td mat-cell *matCellDef="let registro"> {{registro.clave}} </td>
  </ng-container>

  <!-- Dirección Column -->
  <ng-container matColumnDef="notaAuto">
    <th mat-header-cell *matHeaderCellDef> Nota Auto </th>
    <td mat-cell *matCellDef="let registro"> {{registro.notaAuto}} </td>
  </ng-container>

  <!-- Teléfono Column -->
  <ng-container matColumnDef="nota">
    <th mat-header-cell *matHeaderCellDef> Nota </th>
    <td mat-cell *matCellDef="let registro"> {{registro.nota}} </td>
  </ng-container>

  <ng-container matColumnDef="comparte">
    <th mat-header-cell *matHeaderCellDef> Comparte </th>
    <td mat-cell *matCellDef="let registro"> {{registro.comparte}} </td>
  </ng-container>

  <ng-container matColumnDef="cfg">
    <th mat-header-cell *matHeaderCellDef> cfg </th>
    <td mat-cell *matCellDef="let registro"> {{registro.cfg}} </td>
  </ng-container>


  <ng-container matColumnDef="cfgsec">
    <th mat-header-cell *matHeaderCellDef> cfgsec </th>
    <td mat-cell *matCellDef="let registro"> {{registro.cfgsec}} </td>
  </ng-container>


  <ng-container matColumnDef="email">
    <th mat-header-cell *matHeaderCellDef> Correo </th>
    <td mat-cell *matCellDef="let registro"> {{registro.email}} </td>
  </ng-container>

  <ng-container matColumnDef="extraAsister">
    <th mat-header-cell *matHeaderCellDef> Extra Asister </th>
    <td mat-cell *matCellDef="let registro"> {{registro.extraAsister}} </td>
  </ng-container>


  <ng-container matColumnDef="field">
    <th mat-header-cell *matHeaderCellDef> Field </th>
    <td mat-cell *matCellDef="let registro"> {{registro.field}} </td>
  </ng-container>




  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let registro; columns: displayedColumns;"></tr>

  <tbody>
        <tr *ngFor="let registro of registros">
            <td>{{ registro.idDoctor }}</td>
            <td>{{ registro.idRol }}</td>
            <td>{{ registro.nombre}}</td>
            <td>{{ registro.clavesecreta }}</td>
            <td>{{ registro.comentarios }}</td>
            <td>{{ registro.direccion }}</td>
            <td>{{ registro.especialidad }}</td>
            <td>{{ registro.telefono }}</td>
            <td>{{ registro.clave }}</td>
            <td>{{ registro.notaAuto }}</td>
            <td>{{ registro.nota }}</td>
            <td>{{ registro.comparte }}</td>
            <td>{{ registro.cfg }}</td>
            <td>{{ registro.cfgsec }}</td>
            <td>{{ registro.email }}</td>
            <td>{{ registro.extraAsister }}</td>
            <td>{{ registro.field }}</td>
        </tr>
    </tbody>
  
</table>
</div>
    
</body>
</html> 
